{% if site.simple_search %}
<section class="well">
	<h4>Blog Search</h4>   
	<form action="{{ site.simple_search }}" method="get">
  		<fieldset role="search">
		   <div class="input-group">	
    		<input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
    		<input class="form-control" type="text" name="q" results="0" placeholder="Search"/>
			<span class="input-group-btn">
		        <button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
		    </span>
  </fieldset>
</form>
</section>
{% endif %}
