<section>
	<div id="about">
	<a href="https://github.com/alexnederlof" title="GitHub: @alexnederlof"><i class="icon-github icon-3x"></i></a>
	<a href="https://twitter.com/alexnederlof" title="Twitter: @alexnederlof"><i class="icon-twitter icon-3x"></i></a>
	<a href="http://stackoverflow.com/users/679913/alex" title="Stack Exchange: @alexnederlof"><i class="icon-stackexchange icon-3x"></i></a>
	<a href="http://nl.linkedin.com/in/alexnederlof/" title="LinkedIn: @alexnederlof"><i class="icon-linkedin icon-3x"></i></a>
	</div>
</section>