<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Lextech</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ root_url }}/">Blog</a></li>
		<li><a href="{{ root_url }}/about/">About</a></li>
		<li><a href="{{ root_url }}/blog/archives">Archives</a></li>
      </ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a href="https://github.com/alexnederlof" title="GitHub: @alexnederlof"><i class="fa fa-github fa-2x"></i></a>
			<li><a href="https://twitter.com/alexnederlof" title="Twitter: @alexnederlof"><i class="fa fa-twitter fa-2x"></i></a>
			<li><a href="http://stackoverflow.com/users/679913/alex" title="Stack Exchange: @alexnederlof"><i class="fa fa-stack-overflow fa-2x"></i></a>
			<li><a href="http://nl.linkedin.com/in/alexnederlof/" title="LinkedIn: @alexnederlof"><i class="fa fa-linkedin fa-2x"></i></a>
		</ul>
			
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>